body {
  
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1.4em;
  min-width: 230px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


h2, h1, h3, h4, h5 {
  color: #5bb7db;
  margin-top: 40px;
}

td {
  font-family: 'Didact Gothic', sans-serif;
}
th {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
}